body {
    font-family: 'Open Sans';
    font-weight: 400;
}

.nav-heading {
    size: 33px;
    font-weight: light 300;
}

.nav-bar {
    size: 21px;
    font-weight: regular 400;
}

.icon {
    width: 50px;
}