body {
    font-family: 'Open Sans';
    font-weight: 400;
}

.nitro-heading {
    size: 33px;
    font-weight: lighter;
    text-align: left;
}

.nav-bar {
    size: 21px;
}

.icon {
    width: 50px;
}