/* I know we are learning flexbox next week but I still incorporated it */

body {
    color: #393939;
}

* {
    margin: 0;
    padding: 0;
}

/* introduction */
.nitro-coffee {
    background-color: #FFF0ED;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nitro-coffee__content {
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px;
}

.nitro-coffee__title {
    font-size: 60px;
    font-weight: 300;
    display: inline;
    margin-left: 55px;
    margin-top: 80px;
    white-space: nowrap;
}

.nitro-coffee__bag{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-right: 150px;
    flex-basis: 20%;   
    text-align: left;
    height: auto;
    width: auto;
}

.nitro-coffee__text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 200px;
}

button{
    width: 180px;
    padding: 20px;
    margin: 20px;
    color: white;
    background-color: #5bacc3;
    border: none;
    font-size: 21px; 
    font-weight: 400;
    margin-left: 60px;
}

/* cards section */

.products{
    background-color: #F7f7f7;
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 50px;
}

.products__title{
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 30px;
}

.card{
    width: 330px;
    height: 440px;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
    background-color: white;
}

.card__image{
    height: 200px;
    display: block;
    margin: 0 auto 30px;
    align-items: center;
}

.card__title{
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card__cost {
    font-size: 33px;
    color: #5bacc3;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn__view-all{
    align-items: center;
    margin: 30px;
    margin-bottom: 30px;
    
    display: block;
}


/* discount section */

.discount-banner{
    font-size: 45px;
    font-weight: 400;
    width: 90%;
    padding: 20px 20px;
    margin: 100px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
    background-color: #393939;
    text-align: center;
}

.discount-banner__code{
    font-weight: 700;
}


/* footer */

.footer-section {
    background-color: #FFF0ED;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.address__title, .hours__title, .social__title{
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 20px;
}

.address{
    
}

.address__description, .address__street, .hours__mon-fri, .hours__sat-sun {
    font-size: 18px;
    font-weight: 300;
}

.hours{}

.hours__title {
    
}

.hours__sat-sun{}

.social{}


.social__icon{
    width: 50px;
}



