.menu-header {
    width: 300px;
    height: 200px;
    text-align: center;
    margin: auto;
    font-size: 60px;
}

.sub-nav {
    text-align: center;
    font-size: 21px;
    width: 100%;
    font-weight: 400;
    padding: -10px;
}


.menu-header, .sub-nav {
    background-color: #393939;
    color: white;
    font-weight: 300;
}

.coffee-circle {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
}

.hot-drinks, .pastries {
    background-color: #FFF0ED;
}

.cold-drinks {
    background-color: #f7f7f7;
}

.hot-drinks, .cold-drinks {
    margin-bottom: 50px;
}

.hot-drinks, .cold-drinks, .pastries {
    color: #393939;
    padding: 40px;
    
}

.cost {
    color: #5BACC3;
}

.section-title {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

p {
    font-style: italic;
    font-size: 18px;
    color: #393939;
    text-align: center;
    font-weight: 400;
}

h3 {
    text-align: center;
    size: 33px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}