.menu-header {

}

.menu-defined {

}

.menu-header, .menu-defined {
    background-color: #393939;
    color: white;
}

.coffee-circle {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
}

.hot-drinks, .pastries {
    background-color: #FFF0ED;
}

.cold-drinks {
    background-color: #f7f7f7;
}

.hot-drinks, .cold-drinks, .pastries {
    color: #393939;

}

.cost {
    color: #5BACC3;
}

